@media screen and (max-width: 1920px) {
    .left_side {
        transition: all 0.5s ease-in-out;
    }

    .side_top_p {
        transition: all 0.5s ease-in-out;
    }

    .side_top_p1 span:nth-child(2) {
        transition: all 0.5s ease-in-out;
    }

    .company {
        transition: all 0.5s ease-in-out;
    }

    .side_bottom {
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 1280px) {
    .left_side {
        transition: all 0.5s ease-in-out;
    }

    .side_top_p {
        font-size: 15px;
        transition: all 0.5s ease-in-out;
    }

    .side_top_p1 span:nth-child(2) {
        font-size: 18px;
        transition: all 0.5s ease-in-out;
    }

    .company {
        transition: all 0.5s ease-in-out;
    }

    .side_bottom {
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 1024px) {
    .left_side {
        width: 240px;
        transition: all 0.5s ease-in-out;
    }

    .side_top_p {
        font-size: 13px;
        transition: all 0.5s ease-in-out;
    }

    .side_top_p1 span:nth-child(2) {
        font-size: 16px;
        transition: all 0.5s ease-in-out;
    }

    .company {
        margin-left: 0;
        transition: all 0.5s ease-in-out;
    }

    .side_bottom {
        font-size: 14px;
        transition: all 0.5s ease-in-out;
    }
}

main {
    width: calc(100% - 200px);
    margin: 70px 40px 0 40px;
    transition: all 0.5s ease-in-out;
}

.wrap {
    display: flex;
}

/* main_top */
.main_top {
    display: flex;
    justify-content: space-between;
}

.main_text {
    font-size: 25px;
    font-family: "NotoSansKR-Bold";
}

/* main_nav */
.main_nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_button {
    display: flex;
}

.Register {
    width: 110px;
    height: 45px;
    font-family: 'NotoSansKR-Bold';
    font-size: 15px;
    color: #FFF;
    background-color: #FF3478;
    border: none;
}

.Delete {
    width: 110px;
    height: 45px;
    font-family: 'NotoSansKR-Bold';
    font-size: 15px;
    color: #FFF;
    background-color: #232323;
    border: none;
    margin-left: 5px;
}

/* searchbar */
.searchbar {
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #232323;
    border-radius: 5px;
}

.searchbar input {
    width: 180px;
    height: 30px;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 3px;
    font-size: 12px;
    font-family: 'NotoSansKR-Medium';
}

.searchbar input::placeholder {
    /* text-align: center; */
}

.searchbar img {
    width: 25px;
    height: 25px;
}

/* main_list */
.main_list {
    height: 70vh;
    margin-top: 10px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.list_top {
    width: 95%;
    padding-top: 15px;
}

.list_wrap {
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 7px;
}

.list_input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.list_top_name {
    width: 100%;
    height: 20px;
    padding-top: 3px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    font-family: 'NotoSansKR-Medium';
}